<h1>Directivas Estructurales</h1>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3>*ngIf</h3>
        <hr>

        <button (click)= "show= !show"
         type="button"
         class="btn btn-outline-primary btn-block">Show/Hide</button>
        <br> 
        <br>
        <div *ngIf="show"
        class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body text-primary">
              <p class="card-text">{{text}}</p>
              <footer> author: <cite title="Source Title"> {{author}}</cite>
                </footer>

            </div>
          </div>
    </div>

    <div class="col-md-6">
        <h3>*ngFor</h3>
        <hr>
        <ul class="list-group">
            <li *ngFor="let item of authors; let i = index"
            class="list-group-item">
            
            {{i+1}} - {{item}}
          </li>

        </ul>

    </div>
</div>
